body {
    background-color: #f7edf7;
    font-family: 'Lato', sans-serif;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(33, 33, 33, 0.7)
}

.brand-logo {
    font-family: "niconne", cursive;
}

.sidenav {
    background-color: #f7edf7;
}

header a:hover {
    color: #ff80ab;
}

/* Registration Form */

.registration-form-header {
    color: #616161;
    margin-top: 50px;
    margin-bottom: 50px;
}

.registration-form {
    border-radius: 10px;
    background-color: #fff8ff;
}

.submit-button {
    border-radius: 10px;
}

.registration-bottom-link {
    background-color: #fff8ff;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    color: #424242;
}

.registration-bottom-link a{
    color: #e62e6c;
}

.registration-bottom-link a:hover {
	color: #4d4455;
	text-decoration: underline;
}