body {
    background-color: #f7edf7;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(33, 33, 33, 0.7)
}

.brand-logo {
    font-family: "niconne", cursive;
}

.registration-form-header {
    color: #424242;
}