body {
    background-color: #edeef0;
    font-family: 'Lato', sans-serif;
}

.text-shadow {
    text-shadow: 3px 3px 3px rgba(33, 33, 33, 0.7)
}

.brand-logo {
    font-family: "niconne", cursive;
    margin-left: 15px;
    
}

.sidenav {
    background-color: #f7edf7;
}

header a:hover {
    color: #ff80ab;
}

/* Registration Form */

.registration-form-header {
    color: #616161;
    margin-top: 50px;
    margin-bottom: 50px;
}

.registration-form {
    border-radius: 10px;
    background-color: #fff8ff;
}

.submit-button {
    border-radius: 10px;
}

.submit-button:hover {
    color: #424242;
    transform: scale(1.1);
    text-align: center;
}

.registration-bottom-link {
    background-color: #fff8ff;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    color: #424242;
}

.registration-bottom-link a{
    color: #e62e6c;
}

.registration-bottom-link a:hover {
	color: #4d4455;
	text-decoration: underline;
}

.input-field {
    border-color: #4d4455;
    background-color: white;
    border-radius: 20px;
    border-width: 1px;
    border-style:solid;
}


/* Flashes */

.flashes h4 {
    line-height: 2;
}


/* Media Queries */

@media screen and (max-width: 1393px) {
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
    .brand-logo {
        width: 80% !important;
        text-align: center;
    }
}	

@media screen and (max-width: 576px) {
    .brand-logo {
        
        font-size: 25px !important;
        
    }
    
} 

