<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="static/image/belles-favicon.PNG" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Niconne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
      integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg=="
      crossorigin="anonymous" />
    {% block styles %}
    {% endblock %}
    <title>Belles' Task Manager</title>
</head>

<body>

    <header>
        <!-- top navbar-->
        <nav class="nav-extended grey darken-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo pink-text text-accent-1 text-shadow">Belles' Homework Manager</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="text-shadow"><i class="far fa-calendar-alt"></i>  View Calendar</a></li>
                    <li><a href="#" class="text-shadow"><i class="far fa-calendar-alt"></i>  Add Task</a></li>
                    <li><a href="{{ url_for('show_tasks') }}" class="text-shadow"><i class="fas fa-list"></i>  View Tasks</a></li>
                    <li><a href="#" class="text-shadow"><i class="fas fa-list"></i>  Log In</a></li>
                    <li><a href="{{ url_for('register') }}" class="text-shadow"><i class="fas fa-list"></i>  Register</a></li>
                    <li><a href="#" class="text-shadow"><i class="fas fa-sign-out-alt"></i>  Log Out</a></li>
                                      
                </ul>
            </div>
        </nav>

        <!-- mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align pink-text text-accent-2">Belles' Homework Manager</h4></li>
            <li><a href="#"><i class="far fa-calendar-alt"></i>View Calendar</a></li>
            <li><a href="#"><i class="fas fa-plus"></i>Add Task</a></li>
            <li><a href="{{ url_for('show_tasks') }}"><i class="fas fa-list"></i>View Tasks</a></li>
            <li><a href="#"><i class="fas fa-list"></i>Log In</a></li>
            <li><a href="{{ url_for('register') }}"><i class="fas fa-list"></i>  Register</a></li>
            <li><a href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
        </ul>

        

    </header>


    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>