{% extends "base.html" %}
{% block content %}

<h3 class="center-align page-title">Leads' Tasks</h3>
<div class="center-align">All tasks have been set by either Lucy or your section lead, click on the song title for more info. Please give us a shout if there's
    anything you're unsure of!</div>


<div class="row">
    {% for homework in homework %}
    <div class="col s10 offset-s1 m6 l4">
        <div class="card white-text pink accent-1">
            <div class="card-title activator card-content center-align"><i class="fas fa-music"></i>
                {{ homework.song_name }}<br>
                Due Date: {{ homework.due_date }}
            </div>
            <div class="card-reveal">
                <div class="card-title grey-text text-darken-4">{{ homework.song_name }}<i
                        class="fas fa-times right"></i>
                    <p class="task-title">{{ homework.task_title }}</p>
                    <p class="task-description">{{ homework.task_description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}