{% extends "base.html" %}
{% block content %}

<h3 class="center-align page-title">Register New User</h3>

<div class="row">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for ('register') }}">
        <div class="card-panel registration-form">
            <!-- Enter Username -->
            <div class="row">
                <div class="input-field registration-form col s10 offset-s1">
                    <i class="fas fa-user prefix pink-text text-accent-1 text-shadow"></i>
                    <input id="username" name="username" type="text" minlength="4" maxlength="15" 
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" 
                        placeholder="Enter Username" required>
                    
                </div>
            </div>

            <!-- Enter Password -->
            <div class="row">
                <div class="input-field registration-form col s10 offset-s1">
                    <i class="fas fa-lock prefix pink-text text-accent-1 text-shadow"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" 
                        pattern="^[a-zA-Z0-9]{5,}$" class="validate" placeholder="Enter Password (minimum 5 characters)" required>
                    
                </div>
            </div>

            <!--Register User Button-->
            <div class="row">
                <button type="submit" class="col s4 offset-s4 btn-large pink accent-1 submit-button">Register</button>
            </div>
        </div>
    </form>
</div>

 <div class="row">
      <div class="card-panel col s6 offset-s3 m4 offset-m4 lg2 offset-lg5 registration-bottom-link">
        <p>Already registered? Please <a href="{{ url_for('login') }}">Log In</a></p>
        
      </div>
    </div>
  


{% endblock %}